$padding: 1rem;
.advanced-pagination {
    display: flex;
    align-items: center;
    gap: $padding;
    .per-page-pagination,
    .navigation-pagination,
    .dropdown-pagination {
        display: flex;
        align-items: center;
        gap: $padding;
    }
    &.render-link {
        .per-page-pagination,
        .navigation-pagination {
            gap: 0.5rem;
        }
        button {
            border: none;
            padding: 1rem;
        }
    }
    input.page-size {
        width: 7rem;
    }

    &.start {
        justify-content: flex-start;
    }
    &.middle {
        justify-content: center;
    }
    &.end {
        justify-content: flex-end;
    }
    .page-break-line {
        border-left: 1px solid black;
        height: 2rem;
        margin: 0 0.5rem;
    }
    .page-break-space {
        margin: 0 0.5rem;
    }
}
