.widget-pagination {
    margin-bottom: 16px;
}

.widget-pagination a{
    padding: 0.2em 0.3em;
}

.widget-pagination a.active{
    border: 1px solid black;
    border-radius: 4px;
}

.widget-pagination a:focus-visible{
    outline: -webkit-focus-ring-color auto 1px;
}