.widget-pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.widget-pagination > button,
.widget-pagination > div {
    margin-left: 1em;
}
.widget-pagination:first-child {
    margin-left: 0;
}
